<div class='container' data-aos='fade' data-aos-duration="1400" data-aos-delay="200">
  <span class="error">{{message}}</span>
  <span class="error">{{ error }}</span>
  <h2>Login</h2>
  <form class ="ui form" (submit) = "loginUser()" autocomplete="on">
    <div class="column">
      <div class="ui form">
        <div class="ui error message"></div>
        <div class="field">
          <div class="ui left icon input">
            <i class="envelope icon"></i>
            <input type="text" name="User.email" [(ngModel)]="User.email" placeholder="Email" name="email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="Password" name="User.password" [(ngModel)]="User.password" placeholder="Password" name="password">
          </div>
        </div>
        <input id="submit" type="submit" value="Login">
      </div>
    </div>
  </form>
  <p id="link" >Don't Have an Account? <a [routerLink]="['/register']">Register Here</a></p>
</div>